@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html,
body {
  font-family: Roboto, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  /* max-width: auto; */

  /* padding: 80px; */
}

.header,
.hero,
.footer {
  background-color: #1f2937;
}
.logo {
  font-weight: bold;
  color: #f9faf8;
  font-size: 24px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  gap: 100px;
  padding: 10px 200px 0px;
  /* padding: 60px; */
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0px;
}
a {
  text-decoration: none;
  color: #e5e7eb;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  padding: 100px 200px;
}
.heroImg {
  max-width: 650px;
}
.heroContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 450px;
  /* margin-right: 80px; */

  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start; */
}

.HeroMainText {
  display: flex;
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}
.HeroSubText {
  font-size: 18px;
  color: #e5e7eb;
}

.quote {
  background-color: #e5e7eb;
}

.quoteText {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
}

button {
  background-color: #3882f6;
  color: white;
  padding: 2px 16px;
  border-radius: 6px;
  max-width: 100px;
}

/* .signUp {
  width: 150px;
} */
