@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html,
body {
  font-family: Roboto, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  /* flex: 1; */
  flex-direction: column;
  /* max-width: auto; */

  /* padding: 80px; */
}

.header,
.hero,
.footer {
  background-color: #1f2937;
}
.logo {
  font-weight: bold;
  color: #f9faf8;
  font-size: 24px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  gap: 100px;
  padding: 10px 200px 0px;
  /* padding: 60px; */
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0px;
}
a {
  text-decoration: none;
  color: #e5e7eb;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  padding: 100px 200px;
}
.heroImg {
  max-width: 650px;
}
.heroContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 450px;
  /* margin-right: 80px; */

  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start; */
}

.HeroMainText {
  display: flex;
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}
.HeroSubText {
  font-size: 18px;
  color: #e5e7eb;
}

.informationHeader {
  /* display: flex; */
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  align-items: center;
  padding: 60px;
  /* justify-content: center;
  align-items: center; */
  margin: auto;
}
.information {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 80px;
  margin-bottom: 100px;
}

.informationPic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 200px;
}
.imgInfo {
  border-style: solid;
  border-color: #3882f6;
  border-radius: 20px;
  margin-bottom: 10px;
}
.text {
  text-align: center;
}
.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 5% 10%;
  background-color: #e5e7eb;
  margin-bottom: 100px;
}

.quoteText {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 820px;
  margin: auto;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
}
.quoteArthur {
  font-size: 28px;
  padding-right: 300px;
  font-weight: bolder;
  text-align: end;
}

.bottomContainer {
  display: flex;
  background-color: #3882f6;
  border-radius: 8px;
  justify-content: space-between;
  align-content: space-between;
  width: 800px;
  padding: 50px 100px;
  margin: auto;
  color: white;
}

.bottomMainText {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 6px;
}
.bottomSubText {
  color: #e5e7eb;
  font-size: 18px;
}
.bottomButton {
  padding: 0.6em 2em;
  border-radius: 8px;
  color: white;
  background-color: #3882f6;
  font-size: 1em;
  font-weight: bold;
  border-color: white;
  cursor: pointer;
  margin: 1em;
}
.signUp {
  background-color: #3882f6;
  color: white;
  padding: 2px 16px;
  border-radius: 6px;
  max-width: 100px;
}
